<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OpenMapKit Server</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="canonical" href="http://yourdomain.comomk/pages/upload-form/">

  <!-- Local Material Design Lite css Library -->
  <link rel="stylesheet" href="../css/material.css">
  

  <!-- Custom theme css -->
  <link rel="stylesheet" href="../css/main.css">




</head>


  <body>

    <!-- Start Layout -->
    
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div><a href="/omk/pages/forms/"><img id="omkLogo" src="../img/ic_omk_nobg-web.png"></a></div>
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/omk/pages/forms/" class="pageTitle">OpenMapKit Server</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul
        id="main-menu"
        class="auth-required mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="menu-lower-left"
      >
        <li><a href="/omk/pages/forms" class="mdl-menu__item">Forms</a></li>
        <li v-if="role === 'admin'"><a href="/omk/pages/upload-form/" class="mdl-menu__item">Upload Form</a></li>
        <li v-if="isAuthenticated"><a href="/logout/" class="mdl-menu__item">Logout</a></li>
        <li v-else><a href="/omk/pages/login/" class="mdl-menu__item">Login</a></li>
      </ul>
    </div>
  </header>

    

    <div id="uploadPage" class="page-content">
  <div class="mdl-grid">
    <form action="/omk/odk/upload-form" class="dropzone" id="dropzone">
      <div class="dropzone-area">
        <div class="dropzone-text">
          <span class="dropzone-title dz-message">
            Drop XLSForm and related assets here or click to select
          </span>
        </div>
        <div class="fallback">
          <input type="file" name="file" multiple>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="../js/vendor/dropzone.js"></script>
<script>
var successfulToastOptions = {
  settings: {
    duration: 300e3
  },
  style: {
    main: {
      background: "#7ebc6f",
      color: "white",
      'box-shadow': '0 0 0px'
    }
  }
};

var failedToastOptions = {
  settings: {
    duration: 300e3
  },
  style: {
    main: {
      background: "#f2dede",
      color: "#a94442",
      'box-shadow': '0 0 0px'
    }
  }
};

// Returns a function, that, as long as it continues to be invoked, will not
// be triggered. The function will be called after it stops being called for
// N milliseconds. If `immediate` is passed, trigger the function on the
// leading edge, instead of the trailing.
function debounce(func, wait, immediate) {
	var timeout;
	return function() {
		var context = this, args = arguments;
		var later = function() {
			timeout = null;
			if (!immediate) func.apply(context, args);
		};
		var callNow = immediate && !timeout;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
		if (callNow) func.apply(context, args);
	};
};

Dropzone.options.dropzone = {
  addedfile: function () {
    // noop to prevent thumbnails from being displayed
  },
  errormultiple: debounce(function(err, rsp) {
    console.log('errormultiple:', arguments);

    iqwerty.toast.Toast(rsp.msg, failedToastOptions);
  }, 50),
  parallelUploads: 50,
  successmultiple: function (files, rsp) {
    iqwerty.toast.Toast(rsp.message, successfulToastOptions);
  },
  uploadMultiple: true
}
</script>


    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="../js/vendor/material.min.js"></script>

      <script type="text/javascript" src="../js/vendor/vue.js"></script>
      <script type="text/javascript" src="../js/vendor/vue-resource.min.js"></script>

      <script type="text/javascript" src="../js/vendor/toast.min.js"></script>
      <script type="text/javascript" src="../js/vendor/dialog-polyfill.js"></script>
      <script src="../js/auth/auth.js"></script>

      <!--Inject Vue JS dependency if template-->
      

      <!--Inject JS dependency for Submission From-->
      



  </body>

</html>
