############## generic files to ignore #######
*~
*.lock
*.DS_Store
*.swp
*.out

############## Mac Stuff #####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

############## Jetbrains Stuff ###############
*.iws
workspace.xml
tasks.xml
*.iml
.idea/

############## NodeJS Stuff ##################
node_modules
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

############## OpenMapKit Stuff ##############
data/submissions/*
!data/submissions/README.md
data/deployments/**/*.osm
data/deployments/**/*.mbtiles
data/deployments/**/*.md
data/forms/*

############## Jekyll Stuff ##################
jekyll/.sass-cache/
