---
layout: default
controllerjs: forms
---

<div id="formsPage" class="page-content">

    <div class="mdl-grid">

        <div v-show="!formList.xforms" class="mdl-spinner mdl-js-spinner is-active"></div>

        {% raw %} 

        <div class="demo-card-square mdl-card mdl-shadow--2dp" v-if="formList.xforms" v-for="val in formList.xforms.xform">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ val.name }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Number of Submissions: {{ val.totalSubmissions }}<br>
                Form ID: {{ val.formID }}

            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href="/omk/pages/submissions/?form={{ val.formID }}">
                    View Submissions
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href="/omk/data/forms/{{ val.formID }}.xlsx">
                    XLSX Form
                </a>

                <button id="{{ val.formID }}"
                        class="mdl-button mdl-js-button mdl-button--icon buttonRight">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="{{ val.formID }}">
                    <li class="mdl-menu__item">
                        <a target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                href="/omk/data/forms/{{ val.formID }}.xml">
                            Download XForm XML
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        {% endraw %}










    </div>
</div>