  <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div><a href="/omk/pages/forms/"><img id="omkLogo" src="../img/ic_omk_nobg-web.png"></a></div>
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/omk/pages/forms/" class="pageTitle">{{ site.title }}</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul
        id="main-menu"
        class="auth-required mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="menu-lower-left"
      >
        <li><a href="/omk/pages/forms" class="mdl-menu__item">Forms</a></li>
        <li v-if="role === 'admin'"><a href="/omk/pages/upload-form/" class="mdl-menu__item">Upload Form</a></li>
        <li v-if="isAuthenticated"><a href="/logout/" class="mdl-menu__item">Logout</a></li>
        <li v-else><a href="/omk/pages/login/" class="mdl-menu__item">Login</a></li>
      </ul>
    </div>
  </header>
