<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OpenMapKit Server</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="canonical" href="http://yourdomain.comomk/pages/login/">

  <!-- Local Material Design Lite css Library -->
  <link rel="stylesheet" href="../css/material.css">
  

  <!-- Custom theme css -->
  <link rel="stylesheet" href="../css/main.css">




</head>


  <body>

    <!-- Start Layout -->
    
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div><a href="/omk/pages/forms/"><img id="omkLogo" src="../img/ic_omk_nobg-web.png"></a></div>
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/omk/pages/forms/" class="pageTitle">OpenMapKit Server</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul
        id="main-menu"
        class="auth-required mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="menu-lower-left"
      >
        <li><a href="/omk/pages/forms" class="mdl-menu__item">Forms</a></li>
        <li v-if="role === 'admin'"><a href="/omk/pages/upload-form/" class="mdl-menu__item">Upload Form</a></li>
        <li v-if="isAuthenticated"><a href="/logout/" class="mdl-menu__item">Logout</a></li>
        <li v-else><a href="/omk/pages/login/" class="mdl-menu__item">Login</a></li>
      </ul>
    </div>
  </header>

    

    <div class="page-content" id="login-form">
  <div class="mdl-grid">
    <form action="/login/" method="post">
      <div v-if="failure" class="mdl-color--red-200 mdl-dialog__content">
        <span>
          <i class="material-icons">warning</i>
          <span> Login failed. Check your user and password and try again.</span>
        </span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
        <input type="text" id="username" name="username" class="mdl-textfield__input"/>
        <label for="username" class="mdl-textfield__label">Username:</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
        <input type="password" id="password" name="password" class="mdl-textfield__input"/>
        <label for="password" class="mdl-textfield__label">Password:</label>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>


    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="../js/vendor/material.min.js"></script>

      <script type="text/javascript" src="../js/vendor/vue.js"></script>
      <script type="text/javascript" src="../js/vendor/vue-resource.min.js"></script>

      <script type="text/javascript" src="../js/vendor/toast.min.js"></script>
      <script type="text/javascript" src="../js/vendor/dialog-polyfill.js"></script>
      <script src="../js/auth/auth.js"></script>

      <!--Inject Vue JS dependency if template-->
      

      <script src="../js/login/login.js"></script>

      

      <!--Inject JS dependency for Submission From-->
      



  </body>

</html>
