<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OpenMapKit Server</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="canonical" href="http://yourdomain.comomk/pages/forms/">

  <!-- Local Material Design Lite css Library -->
  <link rel="stylesheet" href="../css/material.css">
  

  <!-- Custom theme css -->
  <link rel="stylesheet" href="../css/main.css">




</head>


  <body>

    <!-- Start Layout -->
    
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">

    <div class="mdl-layout__header-row">
      <div><a href="/omk/pages/forms/"><img id="omkLogo" src="../img/ic_omk_nobg-web.png"></a></div>
      <!-- Title -->
      <span class="mdl-layout-title"><a href="/omk/pages/forms/" class="pageTitle">OpenMapKit Server</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
        
        <li><a href="/omk/pages/forms" class="mdl-menu__item">Forms</a></li>
        
        <li><a href="/omk/pages/upload-form/" class="mdl-menu__item">Upload Form</a></li>
        
      </ul>
    </div>
  </header>


    

    <div id="formsPage" class="page-content">

    <div class="mdl-grid">

         

        <div class="demo-card-square mdl-card mdl-shadow--2dp" v-if="formList.xforms" v-for="val in formList.xforms.xform">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ val.name }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Number of Submissions: 34<br>
                Form ID: {{ val.formID }}

            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href="/omk/pages/submissions/?form={{ val.formID }}">
                    View Submissions
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href='/omk/pages/id/#background=Bing&form_id={{ val.formID }}&map=2.00/0.0/0.0'>
                    Edit OSM
                </a>

                <!--<button id="{{ val.formID }}" class="mdl-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
                    <!--<i class="material-icons">more vert</i>-->
                <!--</button>-->
                <button id="{{ val.formID }}"
                        class="mdl-button mdl-js-button mdl-button--icon buttonRight">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="{{ val.formID }}">
                    <li class="mdl-menu__item">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        href="/omk/data/forms/{{ val.formID }}.xlsx">
                        Download XLS
                        </a>
                    </li>
                    <li class="mdl-menu__item">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href="/omk/data/forms/{{ val.formID }}.xml">
                            Download XFORM
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        










    </div>
</div>

    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="../js/vendor/material.min.js"></script>

      <script type="text/javascript" src="../js/vendor/vue.js"></script>
      <script type="text/javascript" src="../js/vendor/vue-resource.min.js"></script>

      <script type="text/javascript" src="../js/vendor/toast.min.js"></script>

      <!--Inject Vue JS dependency if template-->
      

      <script src="../js/forms/forms.js"></script>

      

      <!--Inject JS dependency for Submission From-->
      



  </body>

</html>
