body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.default-green-bg {
  background-color: #7ebc6f !important;
}
.default-green {
  color: #7ebc6f !important;
}
.main-logo {
  height: 40px;
}
.pt-navbar-heading > a:hover {
  text-decoration: none;
}
.login {
  padding-top: 30px;
  max-width: 280px;
}

.login > form > input {
  margin-top: 7px;
}

.pt-input-group .pt-input:not(:first-child) {
    padding-left: 10px !important;
}

.forms-row, .forms-grid, .form-info {
  padding-top: 15px;
}

.forms-col {
  padding-left: 5px;
  padding-right: 5px;
}

.dropzone {
  margin-top: 10px;
  max-width: 70%;
}

.submissions-table, .submissions-info, .filters {
  margin-top: 15px;
}

.filters .pt-input-group {
  padding-top: 10px;
}

.filter-btn {
  position: relative !important;
  margin-top: 15px !important;
}

.display-block {
  display: block !important;
}

.display-inline {
  display: inline;
}


.pl-7 {
  padding-left: 7px !important;
}

.pr-7 {
  padding-right: 7px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-dark a {
  color: #fff;
}

.upload-area{
  padding: 60px 0;
  margin-top: 20px;
}

.upload-result, .archived-forms, .archived-form-list, .pagination {
  margin-top: 20px;
}

.preview-submission-img {
  margin-bottom: 7px;
  max-height: 500px;
}

.help-icon {
  margin-left: 5px;
}

.restore-btn {
  margin-left: 10px;
}

.card-title {
  word-wrap: break-word;
}

.pt-table-container, .mb20 {
  margin-bottom: 20px;
}

#loading-msg {
  font-size: 24px;
  color: #AAA;
  margin-top: 20px;
}

#map {
  height: calc(100vh - 50px);
}

.mapboxgl-canvas {
  position: relative !important;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.h-100 {
  height: 100% !important;
}

.map-info {
  position: absolute;
  display: none;
  max-width: 350px;
  max-height: 70vh;
  overflow-y: auto;
  padding: 7px;
  bottom: 30px;
  right: 0;
  margin-right: 10px;
  text-align: right;
  z-index: 1;
  background-color: #eff0d1;
  border-radius: 5px;
}

#legend-label {
  cursor: pointer;
  padding-top: 5px;
}

.color-switch {
  background-color: #eff0d1;
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  text-align: left;
  bottom: 30px;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

.color-switch .pt-label {
  font-size: 14px;
  margin: 2px 0 10px !important;
}

.feature-key {
  font-weight: bold;
  text-align: left;
  border: 1px solid #dadada;
  padding-right: 10px;
  padding-left: 10px;
}

.feature-value {
  border: 1px solid #dadada;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}

.break-all {
  word-break: break-all;
}

.deployments-list li {
  cursor: pointer;
}

.deployments-list li:hover {
  background-color: #ddd;
}

.deployment-alert {
  color: red;
  font-size: 9pt;
  padding-top: 1rem;
}
