//
// Generals styles for material design light elements
//



// Page container
.page-content{
  overflow-x: auto;
}


.post-button{
  position: absolute;
  right: 15px;
  bottom: 25px;
}

// Index highlight card

.section-highlight {
  position: relative;
  margin: 10px;

  .mdl-card__supporting-text {
    margin: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
  }

  .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 40px;
    color: inherit;
  }

  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;

  }

  button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
  }

}
